@font-face {
	font-family: 'Roboto';
	src: local('Roboto Light'),url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Regular'),url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'),url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold'),url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}