//Variables
@import 'variables.scss';

//Reset default values
@import 'reset.scss';

//Fonts variables
@import 'fonts.scss';

//Mixin Files
@import 'mixin.scss';

//Heander and Footer
@import 'header.scss';
@import 'footer.scss';

//SCSS of pages
@import 'index.scss';
@import 'services.scss';
@import 'contact.scss';
@import 'about.scss';
@import 'schedules.scss';
@import 'success.scss';
@import 'error.scss';
@import 'certificates.scss';