footer {
    background-color: var(--dark);
    flex-direction: column;
    color: var(--white);
    justify-content: space-between;
    > div {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        section {
            flex-direction: column;
            margin: var(--space-20);
            p, h2 {
                margin: 0;
            }
            a {
                color: var(--white);
                text-transform: capitalize;
            }
            > div {
                margin-top: var(--space-10);
                align-items: center;
                img {
                    margin-right: var(--space-10);
                    height: 40px;
                    width: auto;
                }
            }
            ul {
                display: block;
                li {
                    display: list-item;
                    list-style: disc;
                    a {
                        
                    }
                }
            }
        }
    }
    > section {
        flex-direction: column;
        background-color: var(--dark-1);
        margin: 0;
        padding: var(--space-20);
        p, a {
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: var(--white);
        }
        a {
            img {
                height: auto;
                width: 90px;
            }
        }
    }
}
@media (min-width: 990px) {
    footer {
        height: inherit;
        > div {
            flex-direction: row;
            width: 100%;
            justify-content: center;
            section {
                margin: var(--space-50);
            }
        }
    }
}