header {
    flex-direction: row;
    background-color: var(--white);
    justify-content: space-between;
    border-bottom: 1px solid var(--orange-2);
    height: 90px;
    > img {
        margin: var(--space-5);
        height: 68px;
        width: auto;
    }
    > button {
        border: 1px solid var(--orange-1);
        border-radius: calc(var(--space-20) + var(--space-5));
        background-color: transparent;
        height: var(--space-50);
        width: var(--space-50);
        justify-content: center;
        align-items: center;
        margin-top: var(--space-20);
        margin-right: var(--space-20);
        outline: none;
        img {
            height: var(--space-20);
            width: auto;
        }
    }
    nav {
        display: none;
    }
    
}
@media (min-width: 990px) {
    header {
        > button {
            display: none;
        }
        nav, ul {
            justify-content: center;
        }
        nav {
            display: flex;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                li {
                    list-style: none;
                    align-items: center;
                    padding: var(--space-20);
                    transition: 0.5s ease-in-out;
                    background: linear-gradient(to bottom, var(--white), var(--white)) no-repeat, var(--green-1);
                    background-size: 100% 100%;
                    background-position:top;
                    a {
                        color: var(--orange-3);
                        font-size: var(--space-20);
                        text-transform: uppercase;
                        transition: 0.5s ease-in-out;
                    }
                    &:hover {
                        background-size: 0% 100%; /* Or 100% 0% */
                        a {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}