@mixin header {
    flex-direction: row;
    background-color: var(--white);
    justify-content: space-between;
    border-bottom: 1px solid var(--orange-2);
    height: 90px;
    position: fixed;
    z-index: 2;
    width: 100%;
    > img {
        margin: var(--space-5);
        height: 68px;
        width: auto;
    }
    button {
        &#menu-handler {
            border: 1px solid var(--orange-1);
            border-radius: calc(var(--space-20) + var(--space-5));
            background-color: transparent;
            height: var(--space-50);
            width: var(--space-50);
            justify-content: center;
            align-items: center;
            margin-top: var(--space-20);
            margin-right: var(--space-20);
            outline: none;
            transition: 0.5s;
            img {
                height: var(--space-20);
                width: auto;
            }
            &.open {
                box-shadow: inset 1px 1px 5px var(--dark);
                background-color: ivory;
            }
        }
    }
    
    nav {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        position: absolute;
        top: 90px;
        height: 1000%;
        width: 90%;
        max-width: 320px;
        right: 0;
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 60%);
        transform: translateX(900px);
        transition: 0.5s ease-in;
        ul {
            display: inline;
            padding: 0;
            margin: 0;
            li {
                border: 1px solid var(--dark);
                margin: var(--space-10);
                transition: 0.3s ease-in-out;
                background: linear-gradient(var(--white), var(--white)) no-repeat,var(--green-1);
                background-size: 100% 100%;
                background-position: right;
                a {
                    color: var(--dark);
                    font-size: 15px;
                    text-transform: uppercase;
                    width: 100%;
                    height: 60px;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                    &:active {
                        background-color: var(--green-1);
                        border: none;
                    }
                }
                &:hover {
                    background-size: 0% 100%; /* Or 100% 0% */
                    a {
                        color: var(--white);
                    }
                }
            }
        }
        &.open {
            transform: translateX(0px);
            transition: 0.5s ease-out;
        }
    }
    @media (min-width: 990px) {
        position: relative;
        z-index: 1;
        height: 91px;
        > img {
            margin: var(--space-10);
        }
        > button {
            display: none;
        }
        nav {
            justify-content: center;
            align-items: flex-end;
            position: relative;
            transform: none;
            top: 0;
            height: 100%;
            max-width: none;
            box-shadow: none;
            margin-left: var(--space-100);
            background-color: transparent;
            ul, li, a {
                width: 100%;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                height: 100%;
                li {
                    align-items: center;
                    border: none;
                    margin: 0;
                    padding: 0;
                    a {
                        color: var(--orange-3);
                        height: 100%;
                        font-size: 15px;
                        font-weight: 300;
                        text-align: center;
                        &:active {
                            color: #eee;
                        }
                    }
                }
            }
        }
    }
}
@mixin footer {
    background-color: var(--dark);
    flex-direction: column;
    color: var(--white);
    justify-content: space-between;
    > div {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        section {
            flex-direction: column;
            margin: var(--space-20);
            p, h2 {
                margin: 0;
            }
            a {
                color: var(--white);
                text-transform: capitalize;
            }
            > div {
                margin-top: var(--space-10);
                align-items: center;
                img {
                    margin-right: var(--space-10);
                    height: 40px;
                    width: auto;
                }
            }
            ul {
                display: block;
                li {
                    display: list-item;
                    list-style: disc;
                }
            }
        }
    }
    > section {
        flex-direction: column;
        background-color: var(--dark-1);
        margin: 0;
        padding: var(--space-20);
        p, a {
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: var(--white);
        }
        a {
            img {
                height: auto;
                width: 90px;
            }
        }
    }
    @media (min-width: 990px) {
        height: inherit;
        > div {
            flex-direction: row;
            width: 100%;
            justify-content: center;
            section {
                margin: var(--space-50);
            }
        }
    }
}
@mixin call-to-action {
    width: 220px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red-1);
    border-radius: calc(var(--space-20) + var(--space-5));
    border: 1px solid var(--red-2);
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 25px;
    transition: 0.3s;
    &:hover {
        background-color: var(--red-3);
    }
}