//All documents
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: var(--dark);
}
//Set those tags to display flex default
body, header, footer, main, div, section, article, form, nav, ul, li, a, img, button, h1, h2, h3, h4, h5, h6 {
	display: flex;
}
//Default settings to <body>
body {
    margin: 0;
	flex-direction: column;
	background-color: var(--bg-color);
	> main {
		flex-direction: column;
	}
}
//Default settings to <a>
a {
    text-decoration: none;
}
//Default settings to titles
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
//Default sizes for <img>
img {
	width: 100%;
	height: 100%;
}