#schedules {
    margin-top: 100px;
    section {
        flex-direction: column;
        padding: var(--space-20);
        @include heading-title;
        article {
            flex-direction: column;
        }
        &#services-options {
            header {
                h2 {
                    text-transform: uppercase;
                }
            }
            form {
                margin-top: var(--space-20);
                flex-direction: column;
                article {
                    flex-direction: column;
                    label {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: var(--space-20);
                        .square {
                          width: 24px;
                          height: 24px;
                          border: 2px solid var(--blue-1);
                          justify-content: center;
                          align-items: center;
                          border-radius: var(--space-20);
                          > div {
                            border-radius: var(--space-20);
                            width: 14px;
                            height: 14px;
                            background-color: var(--dark);
                            opacity: 0;
                            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                          }
                        }
                        &:hover {
                          .square {
                            border: var(--dark) solid 2px;
                            > div {
                              opacity: 0.2;
                            }
                          }
                        }
                        .content {
                            margin-left: var(--space-10);
                        }
                        input {
                          display: none;
                          &:checked + .square {
                            > div {
                              opacity: 1;
                              background-color: var(--blue-1);
                            }
                          }
                        }
                    }
                }
                footer {
                    flex-direction: row;
                    height: var(--space-30);
                    background-color: unset;
                    margin-bottom: var(--space-20);
                    align-self: center;
                    a, button {
                        justify-content: center;
                        align-items: center;
                        margin: var(--space-10);
                        width: 50%;
                        height: 100%;
                        color: var(--white);
                        font-size: var(--space-20);
                        text-transform: uppercase;
                        padding: var(--space-20);
                        border-radius: var(--space-50);
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                        &:hover {
                            outline: none;
                        }
                    }
                    a {
                        background-color: var(--red-1);
                        img {
                            height: calc(var(--space-10) + var(--space-5));
                            width: unset;
                        }
                        span {
                            color: var(--white);
                            font-weight: 100;
                            margin-left: var(--space-10);
                        }
                        &:hover {
                            text-decoration: none;
                            background-color: var(--red-2);
                        }
                    }
                    button {
                        background-color: var(--green-1);
                        border: none;
                        &:hover {
                            background-color: var(--green-0);
                        }
                    }
                }
            }
            
        }
    }
}

@media (min-width: 992px) {
    #schedules {
        margin: 0;
        max-width: 992px;
        align-self: center;
        section {
            &#services-options {
                form {
                    margin: var(--space-20) 0;
                    footer {
                        width: 50%;
                    }
                }
            }
        }
    }
}