:root {
    //Background
    --bg-color: #EEF3F4;

    //Black
    --black: #000;
    --dark: #333333;
    --dark-1: #1A1A1A;

    //White
    --white: #FFF;

    //Yellow

    //Orange
    --orange-1: #B35B00;
    --orange-2: #B33512;
    --orange-3: #664C05;

    //Green
    --green-1: #067352;

    //Spaces
    --space-5: 5px;
    --space-10: 10px;
    --space-20: 20px;
    --space-50: 50px;
    --space-100: 100px;

}