:root {
    //Background
    --bg-color: #FEFEFE;

    //Black
    --black: #000;
    --dark: #333333;
    --dark-1: #1A1A1A;
    --dark-2: #272727;

    //White
    --white: #FFF;
    --white-1: #F5F7F8;

    //Yellow
    --yellow-1: #F6BD20;

    //Orange
    --orange-1: #B35B00;
    --orange-2: #B33512;
    --orange-3: #664C05;

    //Red
    --red-1: #660A22;
    --red-2: #2E0510;
    --red-3: #50071a;

    //Green
    --green-1: #067352;

    //Blue
    --blue-1: #004C66;

    //Spaces
    --space-5: 5px;
    --space-10: 10px;
    --space-20: 20px;
    --space-30: 30px;
    --space-50: 50px;
    --space-100: 100px;

}